{% extends 'quest/quest.html' %}
{% load staticfiles %}

{% block content1 %}
    <div class="jumbotron">
        <div class="col-md-8 ">

            <h3><span class="label label-primary">Задачи для квеста</span></h3>
            <p>
            <ol>
                {% for task in quest_task %}
                    <li>
                        {{ task }}
                    </li>
                {% endfor %}
            </ol>
            </p>
        </div>
        <div class="col-md-4">
            <div class="quests_time jumbotron-text">
                <h4>
                    Дата начала квеста
                </h4>
                <p>
                    {{ quest.start_date }}
                </p>
                <h4>
                    Дата окончания квеста

                </h4>
                <p>
                    {{ quest.end_date }}
                </p>

            </div>
        </div>
        <div class="col-md-12 text-center">
            <form method="Post" id="post-form">

                {% csrf_token %}
                {{ form }}
                <input type="submit" name="name" value="Проверить"/>
            </form>
        </div>
        <div id="errors" class="error text-center"></div>
    </div>

{% endblock %}