{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Разработчики
{% endblock %}
{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <div class=" panel-default ">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Александр Уваров
                            </h4>
                        </div>
                        <div id="collapse3a" class="panel-collapse collapse in panel-body row">

                            <div class="col-md-4 ">
                                <div class="profil">
                                    <img src="{% static 'img/uvar.jpg' %}">
                                </div>


                            </div>
                            <div class="col-md-8">
                                <p>Он просто крутой парень</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class=" panel-default ">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Вячеслав Сергодеев
                            </h4>
                        </div>
                        <div id="collapse3a" class="panel-collapse collapse in panel-body row">

                            <div class="col-md-4">
                                <div class="profil">
                                    <img src="{% static 'img/avatarka.jpeg' %}">
                                </div>

                            </div>
                            <div class="col-md-8">
                                <p>Без коментариев</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>

{% endblock %}

{% block footer %}
    <h2 class="text-center">ТУТ БУДУТ КОМЕНТЫ</h2>
{% endblock %}