@charset "UTF-8";

.corusel-my_inner>.item>img{
    display: block;
    height: 250px;
    max-width:350px;
    width: 350px;
    max-height: 350px;
}
.navbar-brand {
    padding: 0px;
}
.jumbotron{
    background-color:#eee;
    background: #eee;
    display: table;
    width:100%;
}
    .jumbotron-text p {
    color:#a94442;
}
    .jumbotron-text h4{
        color: #a94442;
    }
.quests_time{
    weight:100%;
    margin-top: 0px;
}
.error{
    font-weight: bold;
    font-size: 16px;
    color: #a94442;

}
.profil>img{
    margin-top: 10px;
    display: block;
    height: 250px;
    max-width: 320px;
    width: 320px;
    max-height: 250px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.in .modal-dialog {
        position: relative;
    z-index: 100001;
}