{#<div class="modal" id="modal-1">#}
{#    <div class="modal-dialog ">#}
{#        <div class="modal-content">#}
{#        <form action="/auth/login/" method="POST">#}
{#            <div class="modal-header">#}
{#                {% if username %}#}
{#                    <h1>Пользователь авторизован</h1>#}
{#                    <a href="{% url 'logout' %}">Выйти</a>#}
{#                {% else %}#}
{#                        <h1>Авторизация</h1>#}
{#                    </div>#}
{#                    <div class="modal-content">#}
{##}
{#                        {% csrf_token %}#}
{#                        <div>#}
{#                            <label for="username">Имя пользовтаеля</label>#}
{#                            <input type="text" name="username" id="username">#}
{#                        </div>#}
{#                        <div>#}
{#                            <label for="password">Пароль</label>#}
{#                            <input type="password" name="password" id="password">#}
{#                            {% if login_error %}#}
{#                                <label class="error">{{ login_error }}</label>#}
{#                            {% endif %}#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <input class="button" type="submit" value="Войти">#}
{#                        <div class="label ">#}
{#                            <a href="{% url 'register' %}">Регистрация</a>#}
{#                            <button class="btn btn-danger" type="button" data-#}
{#                        </div>#}
{#                    </div>#}
{#                    </form>#}
{#                {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}

